*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Mooli', sans-serif;
}
body{
    background-color:#b85042;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 80%;
    width: 80%;
    background-color:#a7beae;
border-radius: 10px;
overflow: hidden;
}
.mtop{
    width: 100%;
    height: 100px;
    background-color:#a7beae;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box{
    color: rgb(58, 132, 58);
    background-color:#e7e8d1;
    border:none ;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 25px;
}
.mbtm{
    height: calc(100% - 100px);
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:#ede6b9;
    display: flex;
    gap:10px;
    padding: 20px;
    flex-wrap: wrap;
}
.bubble{
height: 40px;
width: 40px;
border-radius: 50%;
background-color:rgb(61, 221, 167);
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.bubble:hover{
background-color:rgb(63, 144, 117);
cursor: pointer;
}